:root {
  --main-color: #1ba0c9;
  --main-dark-color: #0d80a3;
  --header-height: 5rem;
  --desktop-header-height: 7rem;
  --secondary-color: #ADDED1;
  --header-color: #229d5a;
  --bg-gray: #ecedee;
}